{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api.mythx.io/v1"
    }
  ],
  "info": {
    "version": "v1.9",
    "title": "MythX API",
    "x-logo": {
      "url": "https://mythx.io/static/img/mythxlogo.svg"
    },
    "description": "[MythX](https://mythx.io) is a security analysis API for Ethereum\nsmart contracts. It powers tools that bring security into the\nsmart contract SDLC.\n\nJoin the MythX community at [MythX\nDiscord](https://discord.gg/kktn8Wt) for more information.\n\nThis document describes the API interface to MythX. It is entended\nfor Dapp developers who wish to bring the power MythX to their\nDapps.\n\n# API Authentication Methods\n\nMythX API implements [JWT](#section/API-Authentication-Methods/JWT) and\n[MetaMask](#section/API-Authentication-Methods/MetaMask) authentication schemes.\nFor better security user credentials (User ID / Ethereum address / email +\npassword) are only used to start JWT sessions\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# User Roles and Permissions\n\n## Overview\n\nMythX user roles and permissions are string tokens recognized by API server,\nand utilized to control user access to different API functionalities, as well\nas to alter API behavior for user with different rights.\n\nUser roles assigned to each user can be found inside the `roles` array of user\nobject (see [GET /users/{id}](#operation/getUserById)). Each role represents a\nset of user permissions. The exact mapping between roles and permissions is\nstored server-side and may be changed as needed, thus allowing to tune API\nbehavior for users with certain roles without chaning user roles.\n\nWhen a user hits API, his roles are mapped into sets of permissions that\ncorrespond to these roles currently, and all these permissions are merged\ninto a single permissions set. Endpoint controllers then check as necessary\nfor the presence of required permissions in that set, to decide how different\nfeatures should work for the user, or whether corresponding functionality\nshould work for the user at all. To check permissions currently granted to\nthe user by his roles use\n[GET /users/{id}/permissions](#operation/getUserPermissions).\n\nWhen a new [JWT session](#section/API-Authentication-Methods/JWT) is opened\nby [POST /auth/login](#operation/login), it is possible to narrow down user\npermissions allowed for that session. For example, it allows to use JWT tokens\nas API keys for tools, that only allow to run analyses, and retrieve their\nresults, but do not allow to modify user details, etc. To check user\npermissions requested, and granted in the current JWT session see\n[GET /auth/session/permissions](#operation/getSessionPermissions).\n\nFor convenience, [GET /auth/login](#operation/login) and\n[GET /auth/refresh](#operation/loginRefresh) endpoints also return\ninformation on the permissions.\n\n## Valid User Permissions\n\n**MythX Usage Allowances**\n- `NO_CACHE_LOOKUP` - Allows to use `noCacheLookup` option in analysis\n  requests.\n- `ANALYSES_LOOKUP_OWN` - Permits to look up your own past analyses, using\n  [GET /v1/analyses](#operation/listAnalyses).\n\n**Account Management Permissions**\n- `CREATE_USERS_ADMIN` - Allows to create new users with `admin` role,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_REGULAR` - Allows to create new regular users,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_PARTNER` - Allows to create new users with `parnter` role,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_TRUSTED` - Allows to create new users with\n  the `trusted_user` role, as well as grant / take this role for created\n  accounts.\n- `CREATE_USERS_WITHOUT_ROLES` - Allows to create new user accounts.\n- `CHANGE_PASSWORD_OWN` - Permits to change your own user password.\n- `USER_LOOKUP` - Allows to lookup accounts of other users.\n\n**Misc Permissions**\n- `USERS_ANALYSES_STATS_LOOKUP` - Allows to fetch internal stats on MythX\n  usage and performance.\n"
  },
  "paths": {
    "/auth/challenge": {
      "get": {
        "operationId": "getAuthChallenge",
        "summary": "Auth challenge",
        "tags": [
          "Authentication Calls"
        ],
        "description": "Generates authentication challenge.\n\nAt least one of query parameters must be provided, and it will determine\nthe type of challenge to generate. Currently, only challenges based on\nEthereum address of the user are supported, for\n[MetaMask](#section/API-Authentication-Methods/MetaMask) authentication scheme.\nAdditional challenge types might be added in future.\n\n**Challenge Types**\n\n- Challenge based on Ethereum address. Generated when **ethAddress**\n  query parameter is provided.\n",
        "parameters": [
          {
            "name": "ethAddress",
            "in": "query",
            "description": "A valid Ethereum address.",
            "schema": {
              "type": "string",
              "format": "Ethereum address"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the challenge to generate.\n\n- **one_time** allows just a single use of challenge response for\n  authentication of a subsequent API call, within 10 minutes after\n  generation of the challenge. After the first use the challenge is\n  revoked. It is also revoked if not used within 10 minutes.\n\n- **short_lived** allows to use the challenge response unlimited\n  number of times within 10 minutes after the challenge generation.\n",
            "schema": {
              "type": "string",
              "enum": [
                "one_time",
                "short_lived"
              ],
              "default": "one_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns two objects describing the banner to be shown in the MetaMask\ndialog and the challenge hash.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 2,
                  "maxItems": 2,
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "data type of the element, string for both"
                      },
                      "name": {
                        "type": "string",
                        "description": "name of the element, one of banner or challenge"
                      },
                      "value": {
                        "type": "string",
                        "description": "value of the element, banner text or challenge hash"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "API login",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "none": []
          },
          {
            "MetaMask": []
          }
        ],
        "description": "Generates a pair of access and refresh JWT tokens for\n[JWT authentication scheme](#section/API-Authentication-Methods/JWT).\n\nIt supports two operation modes, described below. In both modes,\n`jwtLifetimes.access` and `jwtLifetimes.refresh` parameters of request body\nallow to customize the lifetime of generated tokens. `permissions` parameter\nallows to narrow down\n[user permissions](#section/User-Roles-and-Permissions) granted by API\nfor that session.\n\n- **MetaMask login** - follow\n  [MetaMask authentication](#section/API-Authentication-Methods/MetaMask)\n  to request and reply the authentication challenge. The challenge responce\n  should be passed to this login endpoint inside the `Authorization` HTTP\n  header.\n\n- **User credentials login** - Login by username and password. The username\n  may be either of:\n  - MythX User ID (assigned by MythX API to any registered user);\n  - Ethereum address, if user account is associated with an address;\n  - A verified email address, if user account is associated with an\n    email address, and that address has been verified by visiting\n    the verification link in the verification email sent by API each\n    time when user email is set or modified.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Login with User Credentials",
                    "required": [
                      "password"
                    ],
                    "properties": {
                      "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password.\n\nA valid password is:\n- Between 8 and 64 symbols long (both inclusive);\n- Contains at least one lowercase (a-z) and uppercase (A-Z) letter;\n- Contains at least one digit (0-9);\n- Contains at least one of these symbols:\n  ```\n  `~!@#$%^&*()-_=+[{}]\\|;:'\",<.>/?€£¥₹\n  ```\n- Does not contain whitespaces.\n\nThese rules are validated by\n[password-validator](https://www.npmjs.com/package/password-validator)\nusing the following schema:\n```js\nconst MIN_PASSWORD_LENGTH = 8;\nconst MAX_PASSWORD_LENGTH = 64;\nconst passwordSchema = new PasswordValidator();\n  passwordSchema\n    .is().min(MIN_PASSWORD_LENGTH)\n    .is().max(MAX_PASSWORD_LENGTH)\n    .has().uppercase()\n    .has().lowercase()\n    .has().digits()\n    .has().symbols()\n    .has().not().spaces();\n```\n"
                      },
                      "username": {
                        "type": "string",
                        "description": "User identifier. Can be either of:\n- User Ethereum address;\n- A verified user email;\n- MythX user ID.\n"
                      },
                      "jwtLifetimes": {
                        "type": "object",
                        "description": "Custom JWT session lifetimes.\n\n**Beware:** Longer JWT lifetimes decrease session security.\n",
                        "properties": {
                          "access": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "10 mins",
                            "description": "Access token lifetime."
                          },
                          "refresh": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "3 days",
                            "description": "Refresh token lifetime."
                          }
                        }
                      },
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_REGULAR",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "User permissions. For details see\n[User Roles and Permission](#section/User-Roles-and-Permissions).\n"
                      },
                      "ethAddress": {
                        "deprecated": true,
                        "type": "string",
                        "description": "An alias of `username` for backward compatibility."
                      },
                      "userId": {
                        "deprecated": true,
                        "type": "string",
                        "description": "An alias of `username` for backward compatibility."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "nullable": true,
                    "title": "Login with MetaMask",
                    "properties": {
                      "jwtLifetimes": {
                        "type": "object",
                        "description": "Custom JWT session lifetimes.\n\n**Beware:** Longer JWT lifetimes decrease session security.\n",
                        "properties": {
                          "access": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "10 mins",
                            "description": "Access token lifetime."
                          },
                          "refresh": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "3 days",
                            "description": "Refresh token lifetime."
                          }
                        }
                      },
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_REGULAR",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "User permissions. For details see\n[User Roles and Permission](#section/User-Roles-and-Permissions).\n"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jwtTokens": {
                          "type": "object",
                          "title": "JWT Tokens",
                          "description": "Holds a pair of JWT authentication tokens.",
                          "properties": {
                            "access": {
                              "type": "string",
                              "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                            },
                            "refresh": {
                              "type": "string",
                              "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                            }
                          }
                        },
                        "permissions": {
                          "type": "object",
                          "description": "Holds user permissions.",
                          "properties": {
                            "owned": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "All permissions given to the user by his roles."
                            },
                            "requested": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                            },
                            "granted": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT access token."
                        },
                        "refresh": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT refresh token."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "API logout",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "description": "Closes the current API session, revoking JWT access token that signs this request, and the corresponding refresh token. Optional **global** parameter allows to close all user's sessions.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "global": {
                    "type": "boolean",
                    "default": false,
                    "description": "If **true** all JWT tokens associated with the user will be revoked."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "loginRefresh",
        "summary": "Refresh Auth Tokens",
        "tags": [
          "Authentication Calls"
        ],
        "description": "Generates a new pair of JWT authentication tokens (access and refresh),\nand revokes the current one. The new tokens will have the same lifetime\nand permissions as the old ones.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jwtTokens": {
                    "type": "object",
                    "title": "JWT Tokens",
                    "description": "Holds a pair of JWT authentication tokens.",
                    "properties": {
                      "access": {
                        "type": "string",
                        "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                      },
                      "refresh": {
                        "type": "string",
                        "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                      }
                    }
                  },
                  "accessToken": {
                    "type": "string",
                    "deprecated": true,
                    "description": "JWT access token."
                  },
                  "refreshToken": {
                    "type": "string",
                    "deprecated": true,
                    "description": "JWT refresh token."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jwtTokens": {
                          "type": "object",
                          "title": "JWT Tokens",
                          "description": "Holds a pair of JWT authentication tokens.",
                          "properties": {
                            "access": {
                              "type": "string",
                              "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                            },
                            "refresh": {
                              "type": "string",
                              "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                            }
                          }
                        },
                        "permissions": {
                          "type": "object",
                          "description": "Holds user permissions.",
                          "properties": {
                            "owned": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "All permissions given to the user by his roles."
                            },
                            "requested": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                            },
                            "granted": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_REGULAR",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT access token."
                        },
                        "refresh": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT refresh token."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session/permissions": {
      "get": {
        "operationId": "getSessionPermissions",
        "summary": "Session Permissions",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "description": "Retreives user permissions requested, and granted for the current JWT session.\nFor details see\n[User Roles and Permissions](#section/User-Roles-and-Permissions).\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Holds user permissions.",
                  "properties": {
                    "owned": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_REGULAR",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "All permissions given to the user by his roles."
                    },
                    "requested": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_REGULAR",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                    },
                    "granted": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_REGULAR",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/analysis-groups": {
      "get": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "listAnalysisGroups",
        "summary": "List Analysis Groups",
        "description": "Lists analyses groups.\n\nTo see his own groups, the user needs `Analysis Groups` feature enabled.\n\n`dateFrom` and `dateTo` parameters are defined in such way that query matches\nany groups that were in progress between the specified timestamps.\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of groups to skip).",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Filter by MythX user ID of the group creator.",
            "schema": {
              "type": "string",
              "format": "MongoDB Object ID"
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "Search by the group name.\n\nPartial match will be supported eventually, but is not implemented yet.\n",
            "schema": {
              "type": "string",
              "maximum": 256,
              "nullable": true
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "List groups completed after this time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "List groups created before this time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "mainSource",
            "in": "query",
            "description": "The JavaScript regular expression to match against the main source name.\n",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "List groups belonging to the projectId\n",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns matching groups (up to 20 records a time).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "description": "Up to 20 matching groups after the `offset`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "MongoDB Object ID",
                            "description": "The group ID to manage the group, and add new analyses inside it."
                          },
                          "name": {
                            "type": "string",
                            "maximum": 256,
                            "description": "User-provided group name. Empty values mean no name provided."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Group creation timestamp."
                          },
                          "createdBy": {
                            "type": "string",
                            "format": "MongoDB Object ID",
                            "description": "MythX ID of group creator."
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "If all analyses in the group are completed, this is the timestamp when\nthe last pending analysis has been completed.\n"
                          },
                          "progress": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100,
                            "description": "Estimated progress of the group analsis.\n\nAt the moment it is defined as the percentage of completed and failed\nanalyses relative to all analyses in the group. It may be changed later\nto weight analyses by their estimated duration.\n"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "opened",
                              "sealed"
                            ],
                            "description": "Group status &ndash; opened or sealed."
                          },
                          "mainSourceFiles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Main source files of all analyses in the group."
                          },
                          "numAnalyses": {
                            "type": "object",
                            "description": "Counts of grouped analyses by their status.",
                            "properties": {
                              "total": {
                                "type": "number",
                                "description": "All analyses in the group."
                              },
                              "queued": {
                                "type": "number",
                                "description": "Analyses waiting the execution."
                              },
                              "running": {
                                "type": "number",
                                "description": "Analyses being processed"
                              },
                              "failed": {
                                "type": "number",
                                "description": "Failed analyses."
                              },
                              "finished": {
                                "type": "number",
                                "description": "Successfully finished analyses"
                              }
                            }
                          },
                          "numVulnerabilities": {
                            "type": "object",
                            "description": "Counts of detected vulnerabilities",
                            "properties": {
                              "high": {
                                "type": "number",
                                "description": "Critical vulnerabilities."
                              },
                              "medium": {
                                "type": "number",
                                "description": "Dangerous vulnerabilities."
                              },
                              "low": {
                                "type": "number",
                                "description": "Important vulnerabilities."
                              },
                              "none": {
                                "type": "number",
                                "description": "Zero severity vulnerabilities."
                              }
                            }
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Optional. Project ID this group is attached to"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number",
                      "description": "The total number of groups matching the query."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "createAnalysisGroup",
        "summary": "Create Analysis Group",
        "description": "Creates a new analysis group. Interrelated analyses can be added to a group\nusing the `groupId` parameter of [POST /analyses](#operation/submitAnalysis) endpoint.\nMythX platform provides additional analysis reporting features for groupped\nanalyses. The `seal_group` command of [POST /analysis-groups/{groupId}](#operation/analysisGroupOperation)\nendpoint seals the group, informing API that no further analyses will be\nadded to the group. For analyses submitted without `groupId`, MythX\nautomatically creates sealed groups containing single analyses.\n\nThe ability to create analysis groups requires the `Analysis Groups` feature enabled.\n\nThe request body payload is optional, and allows to provide additional meta\ninformation about the group.\n",
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": {
                    "type": "string",
                    "maximum": 256,
                    "description": "Optional. User-specified group name. It can be\na string, up to 256 symbols long, and must be unique amoung\nall groups previously created by the user. Empty string values\nare treated as no group name provided.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created analysis group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "The group ID to manage the group, and add new analyses inside it."
                    },
                    "name": {
                      "type": "string",
                      "maximum": 256,
                      "description": "User-provided group name. Empty values mean no name provided."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Group creation timestamp."
                    },
                    "createdBy": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "MythX ID of group creator."
                    },
                    "completedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "If all analyses in the group are completed, this is the timestamp when\nthe last pending analysis has been completed.\n"
                    },
                    "progress": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Estimated progress of the group analsis.\n\nAt the moment it is defined as the percentage of completed and failed\nanalyses relative to all analyses in the group. It may be changed later\nto weight analyses by their estimated duration.\n"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "opened",
                        "sealed"
                      ],
                      "description": "Group status &ndash; opened or sealed."
                    },
                    "mainSourceFiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Main source files of all analyses in the group."
                    },
                    "numAnalyses": {
                      "type": "object",
                      "description": "Counts of grouped analyses by their status.",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "All analyses in the group."
                        },
                        "queued": {
                          "type": "number",
                          "description": "Analyses waiting the execution."
                        },
                        "running": {
                          "type": "number",
                          "description": "Analyses being processed"
                        },
                        "failed": {
                          "type": "number",
                          "description": "Failed analyses."
                        },
                        "finished": {
                          "type": "number",
                          "description": "Successfully finished analyses"
                        }
                      }
                    },
                    "numVulnerabilities": {
                      "type": "object",
                      "description": "Counts of detected vulnerabilities",
                      "properties": {
                        "high": {
                          "type": "number",
                          "description": "Critical vulnerabilities."
                        },
                        "medium": {
                          "type": "number",
                          "description": "Dangerous vulnerabilities."
                        },
                        "low": {
                          "type": "number",
                          "description": "Important vulnerabilities."
                        },
                        "none": {
                          "type": "number",
                          "description": "Zero severity vulnerabilities."
                        }
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Optional. Project ID this group is attached to"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/analysis-groups/{groupId}": {
      "get": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "getAnalysisGroup",
        "summary": "Analysis Group by ID",
        "description": "Gets analysis group by ID.",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "MongoDB Object ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the group.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "The group ID to manage the group, and add new analyses inside it."
                    },
                    "name": {
                      "type": "string",
                      "maximum": 256,
                      "description": "User-provided group name. Empty values mean no name provided."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Group creation timestamp."
                    },
                    "createdBy": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "MythX ID of group creator."
                    },
                    "completedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "If all analyses in the group are completed, this is the timestamp when\nthe last pending analysis has been completed.\n"
                    },
                    "progress": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Estimated progress of the group analsis.\n\nAt the moment it is defined as the percentage of completed and failed\nanalyses relative to all analyses in the group. It may be changed later\nto weight analyses by their estimated duration.\n"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "opened",
                        "sealed"
                      ],
                      "description": "Group status &ndash; opened or sealed."
                    },
                    "mainSourceFiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Main source files of all analyses in the group."
                    },
                    "numAnalyses": {
                      "type": "object",
                      "description": "Counts of grouped analyses by their status.",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "All analyses in the group."
                        },
                        "queued": {
                          "type": "number",
                          "description": "Analyses waiting the execution."
                        },
                        "running": {
                          "type": "number",
                          "description": "Analyses being processed"
                        },
                        "failed": {
                          "type": "number",
                          "description": "Failed analyses."
                        },
                        "finished": {
                          "type": "number",
                          "description": "Successfully finished analyses"
                        }
                      }
                    },
                    "numVulnerabilities": {
                      "type": "object",
                      "description": "Counts of detected vulnerabilities",
                      "properties": {
                        "high": {
                          "type": "number",
                          "description": "Critical vulnerabilities."
                        },
                        "medium": {
                          "type": "number",
                          "description": "Dangerous vulnerabilities."
                        },
                        "low": {
                          "type": "number",
                          "description": "Important vulnerabilities."
                        },
                        "none": {
                          "type": "number",
                          "description": "Zero severity vulnerabilities."
                        }
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Optional. Project ID this group is attached to"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "analysisGroupOperation",
        "summary": "Analysis Group Operation",
        "description": "Executes specified operation on the analysis group.\n\n- `seal_group` &ndash; Seals the group. API will forbid to add any new\n  analyses into the group, and it may peform some final operations on\n  the group reports, which are possible only after completion of all\n  analyses.\n\n- `add_to_project` &ndash; Attaches specified group to the project\n\n- `remove_from_project` &ndash; Detaches specified group from the previously attached project\n",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "description": "Group ID.",
            "schema": {
              "type": "string",
              "format": "MongoDB Object ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Seal group",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "seal_group"
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Add to project",
                    "required": [
                      "type",
                      "projectId"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "add_to_project"
                        ]
                      },
                      "projectId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Project ID to attach the group to"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Remove from project",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "remove_from_project"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns updated group.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "The group ID to manage the group, and add new analyses inside it."
                    },
                    "name": {
                      "type": "string",
                      "maximum": 256,
                      "description": "User-provided group name. Empty values mean no name provided."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Group creation timestamp."
                    },
                    "createdBy": {
                      "type": "string",
                      "format": "MongoDB Object ID",
                      "description": "MythX ID of group creator."
                    },
                    "completedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "If all analyses in the group are completed, this is the timestamp when\nthe last pending analysis has been completed.\n"
                    },
                    "progress": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Estimated progress of the group analsis.\n\nAt the moment it is defined as the percentage of completed and failed\nanalyses relative to all analyses in the group. It may be changed later\nto weight analyses by their estimated duration.\n"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "opened",
                        "sealed"
                      ],
                      "description": "Group status &ndash; opened or sealed."
                    },
                    "mainSourceFiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Main source files of all analyses in the group."
                    },
                    "numAnalyses": {
                      "type": "object",
                      "description": "Counts of grouped analyses by their status.",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "All analyses in the group."
                        },
                        "queued": {
                          "type": "number",
                          "description": "Analyses waiting the execution."
                        },
                        "running": {
                          "type": "number",
                          "description": "Analyses being processed"
                        },
                        "failed": {
                          "type": "number",
                          "description": "Failed analyses."
                        },
                        "finished": {
                          "type": "number",
                          "description": "Successfully finished analyses"
                        }
                      }
                    },
                    "numVulnerabilities": {
                      "type": "object",
                      "description": "Counts of detected vulnerabilities",
                      "properties": {
                        "high": {
                          "type": "number",
                          "description": "Critical vulnerabilities."
                        },
                        "medium": {
                          "type": "number",
                          "description": "Dangerous vulnerabilities."
                        },
                        "low": {
                          "type": "number",
                          "description": "Important vulnerabilities."
                        },
                        "none": {
                          "type": "number",
                          "description": "Zero severity vulnerabilities."
                        }
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Optional. Project ID this group is attached to"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "deleteAnalysisGroup",
        "summary": "Delete Analysis Group",
        "description": "Deletes analysis group\n",
        "security": [
          {
            "JWT": []
          },
          {
            "MetaMask": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "MongoDB Object ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success\n",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
[...]
